
.dashboard_main {
    background-color: #282829;
    color: white;
    margin-left: 19%; /* 280px / 16px */
    padding-left: 3%;
    padding-right: 1%; 
    overflow-y: auto;
  }
  
.dashboard_title {
    color: white;
    font-weight: 600;
    padding-top: 30px;
    font-size: 32px;
}

.dashboard_firstbar {
    display: flex;
    padding-top: 16px;
}

.dashboard_firstbar_container {
    display: flex;
    justify-content: space-between;
    width: 60%  ; /* 488px / 16px */
    height: 28vh; /* 180px / 16px */
    border-radius: 0.875em; /* 14px / 16px */
    padding-left: 0.625em; /* 10px / 16px */
    padding-top: 6.25em; /* 100px / 16px */
    background-image: url('/images/bgimg1.png');
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.dashboard_firstbar_container_a {
    display: flex;
    justify-content: space-between;
    width: 50%  ; /* 488px / 16px */
    height: 28vh; /* 180px / 16px */
    border-radius: 0.875em; /* 14px / 16px */
    padding-left: 1.625em; /* 26px / 16px */
    padding-top: 6.25em; /* 100px / 16px */
    margin-left: 1em;
    border: 1px solid rgba(99, 99, 99, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard_firstbar_container_a_contain {
    align-self: flex-end;
    padding-bottom: 1em; 
}

.secondbar_container {
    background-color: rgb(54, 54, 54);
    width: 60%; /* 488px / 16px */
    border-radius: 0.875em; /* 14px / 16px */
    padding: 1em; /* 16px / 16px */
    height: auto; /* 500px / 16px */
    margin-bottom: 1.875em; /* 30px / 16px */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

.secondbar_container_a {
    background-color: rgb(54, 54, 54);
    width: 50%; /* 488px / 16px */
    border-radius: 0.875em; /* 14px / 16px */
    padding: 1em; /* 16px / 16px */
    height: auto; /* 500px / 16px */
    margin-bottom: 1.875em; /* 30px / 16px */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 2%;
  }

  .dashboard_secondbar {
    display: flex;
    margin-top: 4%;
  }
  .flex_between {
    display: flex;
    justify-content: space-between;
  }

@media (max-width : 430px) {

    .dashboard_main {
        padding-right: 2%;
    }
    .dashboard_main{
        margin-left: 0%;   
    }
    .dashboard_firstbar {
        display: flex;
        flex-direction: column;
    }

    .dashboard_firstbar_container {
        padding-top: 4.8em;
        width: 100%;

    }
    .text {
        font-weight: 500;
    }
    .text_a{
        font-size: 1.2rem;
    }
    .dashboard_firstbar_container_a {
        padding-top: 4.8em;
        width: 100%;
        padding-left: 0.525rem;
        margin-top: 3vh;
        margin-left: 0;
    }
    .dashboard_secondbar {
        display: flex;
        flex-direction: column;
    }
    .secondbar_container {
        width: 100%;
    }
    .secondbar_container_a {
        width: 100%;
    }
}
  
  