@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');

/* Apply the font family to a CSS variable for easier reference */
:root {
  --font-family-instrument-sans: 'Instrument Sans', sans-serif;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
} 

.firstcontainerfirstbar {
    background-image: url('/images/bgimg1.png');
}